<h1>Hello</h1>
<p>
  {{vm.corndog}}
</p>
<p>
  {{vm.burrito()}}
</p>
<input ng-model="vm.corndog">
<p ng-repeat="food in vm.foods">
  <!-- <pre>{{vm.foods | json:2}}</pre> -->
  {{food | uppercase}}
</p>

<form ng-submit="vm.addFood()">
<fieldset>
  <label for="stuff">Enter a new food item</label>
  <input id="stuff" ng-model="vm.newFood">
  <input type="submit" value="Cook it up!">
</fieldset>
</form>
